// colors

$background-color: #ffffff;
$primary-color: #000000;
$secondary-color: #f9f9f9;
$accent-color: #eb5757;
$nav-color: #f2f2f2;

$green-color: #219653;
$gray-color: #ced4d7;
$dark-gray-color: #828b8d;
