@font-face {
  font-family: "Grtsk Peta";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/GrtskPeta-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Grtsk Peta";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/GrtskPeta-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Grtsk Peta";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/GrtskPeta-Bold.woff2") format("woff2");
}
